<h1 class="page-header">Procesos de Venta</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Proceso</th>
                <th>Fecha creaci칩n</th>
                <th>Cliente</th>
                <th>Venta</th>
                <th>Despacho</th>
                <th>Facturaci칩n</th>
                <th>Contabilidad</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            <% @sale_processes.each do |sale_process| %>
                <tr>
                    <td><%= link_to sale_process.description, edit_sale_process_path(sale_process) %></td>
                    <td><%= sale_process.created_at.to_formatted_s(:day_month_and_year) %></td>
                    <td><%= Client.find(sale_process.client_id).name %></td>

                    <% if sale_process.sale.sale_note.present? %>
                        <td><%= link_to sale_process.sale.sale_note, edit_sale_path(sale_process.sale.id) %></td>
                    <% else %>  
                        <td><%= link_to "Editar Venta", edit_sale_path(sale_process.sale.id) %></td>  
                    <% end %>

                    <% if sale_process.dispatch.dispatch_ticket.present? %>
                        <td><%= link_to sale_process.dispatch.dispatch_ticket, edit_dispatch_path(sale_process.dispatch.id) %></td>
                    <% else %>  
                        <td><%= link_to "Editar Despacho", edit_dispatch_path(sale_process.dispatch.id) %></td>  
                    <% end %>

                    <% if sale_process.billing.bill.present? %>
                        <td><%= link_to sale_process.billing.bill, edit_billing_path(sale_process.billing.id)%></td>
                    <% else %>  
                        <td><%= link_to "Editar Facturaci칩n", edit_billing_path(sale_process.billing.id) %></td>  
                    <% end %>

                    <% if sale_process.account.transfer.present? %>
                        <td><%= link_to sale_process.account.transfer, edit_account_path(sale_process.account.id) %></td>
                    <% else %>  
                        <td><%= link_to "Editar Contabilidad", edit_account_path(sale_process.sale.id) %></td>  
                    <% end %>

                    <td><%= button_to "Editar", edit_sale_process_path(sale_process), :method => :get, :class => 'btn btn-mini btn-primary' %></td>
                    <td><%= button_to 'Eliminar', sale_process, method: :delete, data: { confirm: 'Est치 seguro que quiere eliminar el proceso de venta?' }, :class => 'btn btn-mini btn-danger' %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <br>
</div>

<%= button_to "Nuevo Proceso de Venta", new_sale_process_path, :class => 'btn btn-lg btn-info'%>
