<h1>Proceso de Venta</h1>

<table>
  <thead>
    <tr>
      <th>Proceso</th>
      <th>Venta</th>
      <th>Despacho</th>
      <th>Facturación</th>
      <th>Contabilidad</th>
      <!--<th>Opciones</th>-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sale_processes.each do |sale_process| %>
      <tr>
        <td><%= link_to sale_process.name, edit_sale_process_path(sale_process) %></td>
        <td><%= link_to 'Venta', edit_sale_path(sale_process.sale.id) %></td>
        <td><%= link_to 'Despacho', edit_dispatch_path(sale_process.dispatch.id) %></td>
        <td><%= link_to 'Facturación', edit_billing_path(sale_process.billing.id)%></td>
        <td><%= link_to 'Contabilidad', edit_account_path(sale_process.account.id) %></td>
        <td><%= link_to 'Mostrar', sale_process %></td>
        <td><%= link_to 'Editar', edit_sale_process_path(sale_process) %></td>
        <td><%= link_to 'Eliminar', sale_process, method: :delete, data: { confirm: 'Está seguro que quiere eliminar el proceso de venta?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Proceso de Venta', new_sale_process_path %>
