<h1 class="page-header">Proceso de Venta</h1>

<p id="notice"><%= notice %></p>

<p>
	<strong>Nombre:</strong>
	<%= @sale_process.name %>
</p>
<p>
  	<strong>Descripcion:</strong>
  	<%= @sale_process.description %>
</p>
<p>
  	<strong>Cliente:</strong>
  	<%= @sale_process.client.name %>
</p>


<%= link_to 'Editar Proceso de Venta', edit_sale_process_path(@sale_process) %>
