<h1 class="page-header">Despacho</h1>	

<p id="notice"><%= notice %></p>

<p>
  <strong>Transfer:</strong>
  <%= @dispatch.electronic_dispatch %>
</p>

<p>
  <strong>Check:</strong>
  <%= @dispatch.dispatch_ticket %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @dispatch.dispatch_date %>
</p>

<%= link_to 'Editar Despacho', edit_dispatch_path(@dispatch) %>
