<p id="notice"><%= notice %></p>

<p>
  <strong>Transfer:</strong>
  <%= @dispatch.electronic_dispatch %>
</p>

<p>
  <strong>Check:</strong>
  <%= @dispatch.dispatch_ticket %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @dispatch.dispatch_date %>
</p>

<%= link_to 'Edit', edit_dispatch_path(@dispatch) %> |
<%= link_to 'Back', sale_processes_path %>
