<% if false %>
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Log in" %></div>
<% end %>

<!-- Comentado para no tener acceso a sign_up -->

<%= render "devise/shared/links" %>
<% end %>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <img class="profile-img" src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t34.0-12/10617360_10203997437354144_1700327848_n.jpg?oh=7ee3b3b4f7697ddb81395fe524908b3a&oe=53F3C2E1&__gda__=1408482800_0e8be2ea569ebc20a9224e3bcaba1ea9"
                    alt="HTH Global Mining">

                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin"}) do |f| %>
					<div><%= f.label :email %><br />
					<%= f.email_field :email, autofocus: true, :class => 'form-control' %></div>

					<div><%= f.label :password %><br />
					<%= f.password_field :password, autocomplete: "off", :class => 'form-control' %></div>

					<% if devise_mapping.rememberable? -%>
						<div><%= f.check_box :remember_me %> <%= f.label :Recuerdame %></div>
					<% end -%>

					  <div><%= f.submit "Log in", :class => 'btn btn-lg btn-primary btn-block' %></div>
				<% end %>

            </div>
        </div>
    </div>
</div>
