<h1 class="page-header">Venta</h1>

<p id="notice"><%= notice %></p>

<p>
	<strong>Precio:</strong>
	<%= @sale.price %>
</p>
<p>
  	<strong>Nota de venta:</strong>
  	<%= @sale.sale_note %>
</p>
<p>
  	<strong>Orden de compra:</strong>
  	<%= @sale.purchase_order %>
</p>

<%= link_to 'Editar Venta', edit_sale_path(@sale) %>
