<h1 class="page-header">Contabilidad</h1>

<p id="notice"><%= notice %></p>

<p>
  	<strong>Transfer:</strong>
  	<%= @account.transfer %>
</p>
<p>
  	<strong>Check:</strong>
  	<%= @account.check %>
</p>
<p>
  	<strong>Deposit:</strong>
  	<%= @account.deposit %>
</p>

<%= link_to 'Editar Contabilidad', edit_account_path(@account) %>