<p id="notice"><%= notice %></p>

<p>
  <strong>Transfer:</strong>
  <%= @account.transfer %>
</p>

<p>
  <strong>Check:</strong>
  <%= @account.check %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @account.deposit %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
